#maincontent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh auto auto auto;
  grid-template-areas:
          "map"
          "restaurant"
          "reviews"
          "footer";
}

#map-container {
  height: calc(100vh - 138px);
  position: sticky;
  top: 131px;
}

@media (min-width: 768px) {
  #maincontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "restaurant map"
            "reviews empty";
  }

  #map-container {
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
  }
}
